.header-container {
  width: calc(100%);
  position: fixed;
  padding-top: 10px;
  padding-left: 100px;
  padding-right: 100px;
  z-index: 10;
  top: 0;
  .logo {
    img {
      width: 100px;
    }
  }
  .navs {
    gap: 10px;
    .search-bar {
      width: 320px;
      height: 50px;
      border: 1px solid #87724e;
      justify-content: space-between;
      padding-right: 5px;
      overflow: hidden;
      border-radius: 25px;
      input {
        width: 270px;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1.1rem;
      }
      .icon {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }

    .search-bar:focus-within {
      background: #eee;
    }
    button {
      width: 50px;
      padding: 0 0;
      height: 50px;
      border-radius: 25px;
      margin-right: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #87724e;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
    }
    .menu-bars {
      cursor: pointer;
      gap: 5px;
      position: relative;
      .bar {
        width: 40px;
        height: 2px;
        background: #87724e;
      }
      .main-menu {
        width: 280px;
        height: 350px;
        border: 1px solid #87724e;
        background: #f6eee0;
        position: absolute;
        top: calc(100% + 30px);
        right: 0;
        z-index: 10;
        border-radius: 20px;
      }
    }
  }
}
